// stylesheets!
// make style.css

body {
  // background-color: #E8EAF6;
  font-size: 14px;
}

header h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

header .md-button {
  margin: 10px;
}

.md-button .fa {
  padding-right: 7px;
}

header, md-toolbar {
  width: 100%; 
}


md-toolbar.md-tall {
  height: auto;
  max-height: none;
  @media screen and (min-width: 600px) {
    height: 192px;
    max-height: 192px;
  }
}


md-toolbar, md-toolbar.md-default-theme {
  background-color: #3F51B5;
  padding: 15px;
  @media screen and (min-width: 540px) {
    padding: 0 12.5%;
  }
}


md-content { 
  width: 100%; 
}


md-radio-button {
  margin: 15px 5px;
}


.main {
  margin-top: 30px; 

  width: 100%;
  @media screen and (min-width: 540px) {
    width: 75%;
  }


  margin: 15px auto;
  padding: 15px;
}


.player {
  transition: background-color 0.3s ease;
  &:hover { background-color: #EDEDED; }

  .desc {
    margin-left: 7px;
    margin-top: 2px;
  }
}

footer {
  font-size: 0.9em;
  color: #DEDEDE;
  a { color: inherit; }
}

.md-button.delete {
  margin-left: 2em;
}

.md-button {
  margin: 0.5em;
}

md-tab-label i.fa {
  display: inline-block;
  margin-left: 1em;

  &:hover {
    color: white; 
  }
}
